<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div id="wrapper">
    <div id="name">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    
    <div id="nav">
      <ul>
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
        <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
        <li><a href="{{ '/publications' | relative_url }}">Publications</a></li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a></li>
      </ul>
    </div>

    <div id="content">
      {{ content }}
    </div>
  </div>
</body>
</html>
